/chrome-user-data
/PanDownload/PanData/log
/PanDownload/PanData/temp
/PanDownload/PanData/config.ini
/PanDownload/PanData/share.db
/PanDownload/PanData/task.db
/PanDownload/PanData/user.db
/TreeSizePortable/Data/TreeSizePortable.ini
open-electron-vue-admin-master-sync.bat
myCommand.bat
open.cmd